@import 'variables';

@font-face {
  font-family: "Raleway";
  src: url("~assets/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("~assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Raleway", sans-serif !important;
  background: $primary-color;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
*, *:before, *:after {
  margin: 0;
}
h1,h3,h4,h5,h6,p,small,li,label{
  color: $white-color;
}
//buttons
.btn.btn-outline-primary {
  position: relative;
  overflow: hidden;
  color: $button-color;
  border-color: $button-color;
  transition: 0.3s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $button-color;
    transform: translateX(-101%);
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    z-index: -1;
  }
  &:hover{
    color: $primary-color;
    background: transparent;
    &:before {
      transform: translateX(0);
    }
  }
  &:active {
    animation: clickear .3s;
  }
}
//feedback in form
.invalid-feedback {
  font-size: 85% !important;
}
//Querys-text-responsive
@media screen and (max-width: 576px) {
  html {
    font-size: .9rem;
  }
}
//Page-transition
.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-to {
  opacity: 0
}
//Slides-transition
.slide-up-enter-active,
.slide-down-enter-active,
.slide-right-enter-active,
.slide-left-enter-active {
  transition: all .5s ease;
}
.slide-up-leave-active,
.slide-down-leave-active,
.slide-right-leave-active,
.slide-left-leave-active {
  transition: all .5s $swiftOut;
}
.slide-up-enter, .slide-down-leave-to  {
  transform: translateY(100px);
  opacity: 0;
}
.slide-down-enter, .slide-up-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}
.slide-right-enter, .slide-left-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
.slide-left-enter, .slide-right-leave-to {
  transform: translateX(100px);
  opacity: 0;
}
//Blink-transition
.blink-enter-active,.blink-leave-active {
  transition: all .8s;
}
.blink-enter,.blink-leave-to {
  opacity: 0;
  transform: translateX(-20px)  
}
.blink-enter-to,.blink-leave {
  opacity: 1;
  transform: translateX(0)
}
//Menu-transition
.menu-fade-enter-active, .menu-fade-leave-active {
  transition: opacity .5s ease;
}
.menu-fade-enter, .menu-fade-leave-to {
  opacity: 0;
}
//Click-animation
@keyframes clickear {
  0%{transform: scale(1)};
  10%{transform: scale(.85)};
  30%{transform: scale(1.05)};
  50%{transform: scale(.9)};
  80%{transform: scale(1.02)};
  100%{transform: scale(1)};
}