$primary-color: #1a8fbb;
$primary-light-color: #4ca1ca;
$secondary-color: #ccc214;
$secondary-alpha-color: #ccc31481;
$dark-color: #093140;
$gray-color: #686868;
$button-color: #00FFBA;

$swiftOut: cubic-bezier(1.0, 0.5, 0.8, 1.0);