$primary-color: #093140;
$logo-color: #FFA13C;
$logo-shadow-color: #B25D00;
$button-color: #FFA13C;
$button-alpha-color: rgba(255, 161, 60, 0.506);
$white-color: #fff;
$dark-color: #3D8099;
$complement-color: #FF194B;

$swiftOut: cubic-bezier(1.0, 0.5, 0.8, 1.0);